language: bash
sudo: required
services:
  - docker

before_install:
  - docker pull f5devcentral/containthedocs
  - docker pull f5devcentral/attributions-generator

script:
  - set -e
  - if [ "$DOCKER_NAMESPACE" == "" ]; then DOCKER_NAMESPACE="local"; fi
  - BASE_PUSH_TARGET="$DOCKER_NAMESPACE/marathon-bigip-ctlr"
  - |
    if [ "$DOCKER_P" == "" -o "$DOCKER_U" == "" -o $DOCKER_NAMESPACE == "" ]; then
      echo "[INFO] Docker user, password, or namespace vars absent from travis-ci."
      echo "[INFO] See README.md section 'build' to configure travis with DockerHub."
    else
      docker login -u="$DOCKER_U" -p="$DOCKER_P"
      DOCKER_READY="true"
    fi
  - export IMG_TAG="${BASE_PUSH_TARGET}:${TRAVIS_COMMIT}"
  - export BUILD_IMG_TAG="${BASE_PUSH_TARGET}-devel:${TRAVIS_COMMIT}"
  - export COVERALLS_REPO_TOKEN=$COVERALLS_REPO_TOKEN
  - ./build-tools/build-devel-image.sh
  - ./build-tools/run-in-docker.sh make python-sanity
  - ./build-tools/build-runtime-images.sh
  - |
    if [ "$DOCKER_READY" ]; then
      docker tag "$IMG_TAG" "$BASE_PUSH_TARGET"
      docker tag "$IMG_TAG" "$BASE_PUSH_TARGET:devel-$TRAVIS_BRANCH"
      docker tag "$IMG_TAG" "$BASE_PUSH_TARGET:devel-$TRAVIS_BRANCH-n-$TRAVIS_BUILD_NUMBER-id-$TRAVIS_BUILD_ID"
      docker push "$BASE_PUSH_TARGET"
    fi
  - |
    if [ "$TRAVIS_REPO_SLUG" == "F5Networks/k8s-bigip-ctlr" -o "$COVERALLS_REPO_TOKEN" ]; then
      ./build-tools/run-in-docker.sh coveralls
    fi
  - make att-gen
  - cp ATTRIBUTIONS.md docs/_static
  - make test-docs

deploy:
  - provider: script
    skip_cleanup: true
    on:
      branch: 1.1-stable
      repo: F5Networks/marathon-bigip-ctlr
    script:
      - ./build-tools/deploy-docs.sh publish-product-docs-to-prod connectors/marathon-bigip-ctlr v1.1

notifications:
  slack:
    rooms:
      # marathon channel
      - secure: reSKFzFdKPRawR2bb8OcMHMwcFnyFOnP5Z46MUKi0D1UQ7wB1OsQQz7hDzOlhjriFMQeE5atRCk35ZURvfBSg0PZPAO6oxdv2JYDqcFlfOAlMrSinhD3EiBBlNUqzJvo13VA/xsUSRBXcCFt0YF9r/xbyXusKAk/ALS+Gn9vgfXahJDH1pN1LJEA5PxpD371Dp9c4a5+su1n5gjerFP8fwV6eT8R02fiyTarFw89naUa9jnAzvqwvHbCoI1yFSE5lmRIak3qFzSwhdyUk2YRyn44WH2fROIAvAOHF+46z3SI7LUVagBsNNmBxl1pnTQf6ASTKiSif3RffcA4eiJp0Sxdz6gYR6vC75km92M73YTLjdbqtCnboPtzE3V3OKuItcIlMQe6wdfT0eHG8EzAr/AJKIpG6bNSCi+NpN/mk5On09+5HUPwCvqsqoHDKeCZSP/qEqp4MqdNQ7I8DdDdhiN7nQso9pus3ADCPG6iZ1EQmgeb4kpLhfNcmXChvJjM2LGrfg9ewXnzj0+FNx3+4ULSDLf0P/IgoaegWWLmUFX2E1vWen/XKZ+Yi+98vLM/bs6GF0GD0DNxM2/ftAfBdQ5QrqCh3OGFk0fBCBnmpHay4VTcN79O0d4eOEvzLKoOD0nD6LWbBZmRBbmF4Mz3QP5e/sKHzkKiLX4huP9SFRI=
    on_success: change
    on_failure: always
    on_pull_requests: false
