-e git+https://github.com/f5devcentral/f5-cccl.git@39835ebf3d7cf38c6ce2fbec883be7b18b6ba5ff#egg=f5-cccl
cryptography==1.3.2
idna==2.2
pyasn1==0.2.2
pycparser==2.17
requests==2.9.1
sseclient==0.0.14
configargparse==0.10.0
ipaddress==1.0.17
PyJWT==1.4.0
