pytest==3.0.2
-e git+https://github.com/f5devcentral/f5-cccl.git@9bcc48c039db9d3d75ae8a8a4e79eded9012942a#egg=f5-cccl
cryptography==1.3.2
flake8==3.2.1
# Cannot use flake8_docstrings until https://gitlab.com/pycqa/flake8-docstrings/issues/19 is fixed.
#flake8_docstrings==1.0.2
mock
coverage
pylint
